* {
    box-sizing: border-box;
}

.navbar {
    overflow: hidden;
}

.nav-button {
    float: right;
    display: inline;
    padding-right: 10px;
    margin-right: 40px;
    margin-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #777777
}

.main-content {
    min-height: calc(80vh - 30px);
    width: 960px;
    margin: auto;
    text-align: center;
    background-color: #eeeeee;
    border: solid 2px #dddddd;
}

.sticky-footer {
    text-align: center;
    height: 50px;
    border-top: 2px solid #4aaaa5;
    background: #666666;
}

.heading-font {
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color: white;
    display: inline-block;
    border-radius: 4px;
    margin-left: 275px;
    margin-bottom: 0%;
}

.heading-two {
    margin-left: 275px;
    color: #4aaaa5;
}

#profile-pic {
    float: left;
    padding-right: 15px;
}

.text {
    text-align: center;
}

.container, 
input,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
}

#submit {
    background-color: #4aaaa5;
    width: 75px;
}

body {
    background-image: url("assets/images/gravel.png");/*File path to image listed but cannot get image to appear for body background*/
}

ul {
    margin: 0;
}

li { 
    border-right: solid 1px #ddcfbc;/*tried to use a pseudo class here li:not(last:child)*/
}

h1 {

}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

a {
    text-decoration: none;
}

hr {
    margin: 0;
}

a:visited, a:active {
    color: inherit;
}

a:hover {
    color: #a0062c;
}