* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url(../images/gravel.png);
}

.navbar {
    overflow: hidden;
}

.nav-button {
    float: right;
    display: inline;
    padding-right: 10px;
    margin-right: 40px;
    margin-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #777777
}

.nav-btn-wrapper {
    margin-right: 245px;
    margin-bottom: 0;
}

.main-content { 
    width: 960px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    background-color: #ffffff;
    border: solid 2px #dddddd;
    border-radius: 15px;  
}

.sticky-footer {
    text-align: center;
    height: 60px;
    border-top: 2px solid #4aaaa5;
    background: #666666;
}

.push {
    height: 50px;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -60px;
}

.heading-font {
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color: white;
    display: inline-block;
    border-radius: 4px;
    margin-left: 285px;
    margin-bottom: 0;
    padding: 7px;
}

.heading-two {
    margin-left: 25px;
    color: #4aaaa5;
    text-align: left;
}

.input-name{
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}


input,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
}



#submit {
    background-color: #4aaaa5;
    width: 75px;
}

#subject {
    height: 200px;
}

/*Attempted many ways to make inputs in contact form a smaller width as well as labels aligned to left side but kept breaking the form into multiple pieces. Need to allocate classes and divs for all properties inside input and text area selectors.*/


.hr-outside {
    margin: 0;
}

.hr-inside {
    margin-bottom: 30px;
    width: 95%;
    height: 4px;
    background-color: #dad1d1;
}

.portfolio-work {
    text-align: left;
    padding: 0px 30px 0px 30px;
}

.portfolio-work img {
    padding-right: 20px;
    padding-bottom: 20px;
}


#profile-pic {
    float: left;
    padding-right: 15px;
    height: 200px;
    width: 200px;
    margin-left: 25px;
}

li { 
    border-right: solid 1px #c7c4c0;/*tried to use a pseudo class here li:not(last:child) to take off line divider from "about" link*/
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

a {
    text-decoration: none;
}

a:visited, a:active {
    color: inherit;
}

a:hover {
    color: #000000;
}